html, 
body {
  font-family: Arial, sans-serif;
  height: 100%;
 
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
      }

.App-title {
    color: #525454;
    font-size: 2em;  
    text-align: center;
     
}
 
.map {
  bottom:0px;
  height: 100%;
  width: 80%;
  position: absolute;
  right: 0;
  background-color: rgb(110, 199, 171);
 }

 .sidebar{
  bottom:0px;
  height: 100%;
  width: 20%;
  position: absolute;
  background-color: rgb(110, 199, 171);
 }